<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AssimpNet" version="3.3.2" targetFramework="net452" />
  <package id="BEPUphysics" version="1.5.0" targetFramework="net46" />
  <package id="ICSharpCode.Decompiler" version="2.3.1" targetFramework="net452" />
  <package id="ICSharpCode.NRefactory" version="5.5.1" targetFramework="net452" />
  <package id="Mono.Cecil" version="0.9.6.4" targetFramework="net452" />
  <package id="NVorbis" version="0.8.5.0" targetFramework="net452" />
  <package id="ZeroFormatter" version="1.6.4" targetFramework="net46" />
  <package id="ZeroFormatter.Interfaces" version="1.6.4" targetFramework="net46" />
</packages>